body {
    margin: 0;
    font-family:"Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    /*background: linear-gradient(45deg, #ff5355, #ff70b2);*/
    background-color: #333;
    position: relative;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.loginPage {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginPage img {
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
}

.loginPage button {
    height: 30px;
    width: 120px;
    display: grid;
    place-items: center;
    background: #1780ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Product Sans Medium";
    color: #fff;
}

.loginPage button:hover {
    background: #5096ff;
}

.loginPage button:active {
    background: #0a6cff;
}

.loginPage label {
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 13px;
    font-family: "Product Sans";
}

* {
    margin: 0;
    outline: 0;
    padding: 0;
}


/*/////////////////////////// GRADIENT BACKGROUND /////////////////////////////*/

#root{
    position: absolute;
    height: 100vh;
    width: 100%;
    background:#e6e6e6;
}

.gradient{
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: -1;
}

.gradient .circle{
    border-radius: 50%;
}

.gradient .square{
    border-radius: 5px;
}

.gradient .blue{
    background-image: linear-gradient(#3B98FF,#5F00FF);
    height: 40%;
    width: 40%;
    transform: rotate(25deg);
    top: -90px;
    position: absolute;
}

.gradient .red{
    background-image: linear-gradient(#FF745D,#FF3A96);
    height: 300px;
    width: 300px;
    top: 20px;
    position: absolute;
    left: 50%;
}

.gradient .yellow{
    background-image: linear-gradient(#FDCA00,#FE8700);
    height: 520px;
    width: 520px;
    top: 55%;
    position: absolute;
    left: 60%;
}

.gradient .purple{
    background-image: linear-gradient(#D839FF,#7A1BFF);
    height: 250px;
    width: 350px;
    top: 70%;
    position: absolute;
    left: 10%;
    transform: rotate(25deg);

}

.gradient .green{
    background-image: linear-gradient(#CAF875,#26CD11);
    height: 150px;
    width: 150px;
    top: 35%;
    position: absolute;
    left: 30%;
}


/*////////////////////////////////////// APP //////////////////////////////////*/

.app {
    height: 500px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 5px;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    background: rgba( 255, 255, 255);
    /*box-shadow: 0 8px 16px 0 rgba( 31, 38, 135, 0.2 );*/
    border:1.0px solid rgb(204 204 204);
    /*backdrop-filter: blur( 4px );*/
    /*-webkit-backdrop-filter: blur( 4px );*/
    border-radius: 10px;
}

.header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    position: relative;
}

.header__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    justify-self: flex-start;
}

.header__photo{
    height:35px;
    width:35px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.header__photo:hover{
    opacity: 0.9;
}

.header__photo:active{
    opacity: 0.7;
}


.header__userinfo {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px;
}

.header__userinfo--email,
.header__userinfo--name {
    font-size: 12px;
}

.header__userinfo--email{
    color: #757575;
}

.header__userinfo--name {
    font-size: 15px;
    font-family: "Product Sans Medium";
    color: rgb(0 0 0 / 80%);
}

.header__settings {
    margin-right: 5px;
}

.inputController {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.inputController__input {
    height: 40px;
    padding: 0 5px;
    font-family: "Open Sans";
    border: none;
    background: transparent;
    width:200px;
}

.inputController__section {
    flex: 1;
    display: flex;
    align-items: center;
    background: #e8e8e8;
    border-radius: 5px;
    margin-right: 5px;
    transition-duration: 0.35s;
}

.inputController__section:focus-within{
    background: #dadada;
}

.inputController__section form {
    flex: 1;
}

.inputController__calendar {
    margin-left: 5px;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    width: 100%;
    padding: 0 5px;
    overflow: auto;
}

.taskContainer__empty{
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.taskContainer__text{
    color: rgba(0,0,0,0.80);
    font-size: 14px;
    font-family: "Product Sans Medium";
}

.taskContainer__suggestion{
    font-size: 12px;
    width: 240px;
    text-align: center;
    color: #18abab;
}

.taskContainer::-webkit-scrollbar {
    width: 5px;
}

.taskContainer::-webkit-scrollbar-track {
    background: transparent;
}

.taskContainer::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 1px;
}

.task {
    width: 95%;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 7px 5px;
    background-color: #f3f3f3;
}

.category__indicator{
    height: 100%;
    width: 4px;
    border-radius: 0 2px 2px 0;
    margin-right: 3px;
    margin-left: -5px;
}

.task__checkbox {
    margin-right: 2px;
    width: 30px;
    cursor: pointer;
}

.task__info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.task__info--title {
    font-size: 13px;
    font-family: "Product Sans Medium";
    margin-bottom: 3px;
    cursor: pointer;
}

.task__info--title:hover {
    text-decoration: underline;
}

.task__info--sub {
    display: flex;
    align-items: center;
}

.task__info--sub .sub {
    margin-right: 5px;
    font-size: 10px;
    font-family: "Fira Code";
}

.task__info--sub .task__expectedDate{
    border: 1px solid rgb(0 0 0 / 33%);
    padding: 2px 5px;
    box-sizing: border-box;
    border-radius: 2px;
}

.task__info--sub .task__category{
    padding: 2px 5px;
    color:#fff;
    text-align: center;
    border-radius: 2px;
}

.task__important {
    cursor: pointer;
}

.task__important svg{
    fill:#fe8700;
}

.lottie__star {
    margin-right: 3px;
}

/*//////////  CATEGORY ICKER ////////////////*/

.categoryPicker {
    position: absolute;
    min-height: 30px;
    background: #fff;
    right: -142px;
    bottom: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition-duration: 350ms;
    border: 1px solid rgba(0,0,0,0.2);
}

.category {
    position: relative;
    height: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    transition-duration: 0.25s;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

.category:hover > .category__name{
    color: #333;
}

.category__name {
    font-family: "Product Sans Medium";
    color:#565656;
    font-size: 12px;
    transition-duration: 0.25s;
}

.category__color {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.category:hover {
    background: #eaeaea;
}

/*.category:hover > .category__name {
    color: #fff;
}*/

/*///////////////  SETTING CONTAINER    /////////////////////////*/

.settingContainer {
    height: 75px;
    width: 150px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 1000;
    right: -160px;
    top: -5px;
    border: 1px solid rgba(0,0,0,0.2);
}

.settingContainer__theme {
    display: flex;
    align-items: center;
}

.settingContainer__theme--title {
    color: #404040;
    font-size: 12px;
    font-family: "Product Sans Medium";
}

.themeToggler {
    height: 16px;
    width: 32px;
    position: relative;
    margin-left: 10px;
    background: #e6e6e6;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}

.themeToggler__switch {
    height: 16px;
    width: 16px;
    background: #909090;
    position: absolute;
    border-radius: 50%;
    transition-duration: 350ms;
}

.settingContainer p {
    color: #404040;
    font-size: 12px;
    font-family: "Product Sans Medium";
}

.settingContainer__google {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.settingContainer__logout:hover {
    background: #b2cdff;
}

.settingContainer__logout:active {
    background: #89b8ff;
}

.settingContainer__logout {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: rgb(0 0 0 / 20%);
    justify-content: center;
    cursor: pointer;
    height: 17px;
    width: 75px;
    padding: 5px 10px;
    margin-top: 5px;
}

/*///////////////////  PROFILE  ////////////////////*/

.profile {
    height: 75px;
    width: 200px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 1000;
    left: -210px;
    top: -5px;
    border: 1px solid rgba(0,0,0,0.2);
}

.profile__info {
    display: flex;
    align-items: center;
}

.profile img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.profile__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__data label {
    font-size: 12px;
    font-family: "Product Sans";
    color: rgb(119 119 119);
}

.profile__data label:nth-child(1) {
    font-size: 14px;
    font-family: "Product Sans Medium";
    color: #333;
}

.profile__tasksCount {
    display: flex;
    align-items: center;
}

.profile__tasksCount--title {
    color: #5a5a5a;
    font-size: 13px;
    font-family: Product Sans Medium;
    margin-right: 10px;
}

.profile__tasksCount span {
    color: #333;
    font-family: "Product Sans Medium";
    font-size: 18px;
}

.taskPage {
    height: 400px;
    width: 250px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 28px;
    animation:taskPage 0.3s ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes taskPage{
    from {
        opacity: 0;
    }
    to{
        height: 460px;
        width: 250px;
        opacity: 1;
    }
}

.taskPage__input {
    height: 30px;
    padding: 0 5px;
    font-family: "Open Sans";
    border: none;
    width: 97%;
    background: #f7f7f7;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    transition-duration: 0.35s;
}

.taskPage__input:focus-within {
    background-color: #e8e8e8;
}

.taskPage__title {
    font-family: "Product Sans Medium";
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #2b2b2b;
}
.taskPage__title p {
    font-size: 12px;
    font-family: "Product Sans";
}

.taskPage__cross {
    position: absolute;
    top: 17px;
    right: 13px;
}

.taskPage__trash {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.taskPage__save {
    padding: 7px 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #333;
    border: none;
    border-radius: 3px;
    font-family: "Product Sans Medium";
    cursor: pointer;
}

.taskPage__save:hover {
    background: #6279e2c5;
}

.taskPage__save:active {
    background: #6279e2;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    animation: showOverlay 0.25s linear;
    animation-fill-mode: forwards;
    background: rgba(0,0,0,0);
}

@keyframes showOverlay{
    from {
        background: rgba(0,0,0,0);
    }
    to{
        background: #33333354;
    }
}

.taskPage__datePicker {
    position: absolute;
    bottom: 10px;
    left: 60px;
}