.calendar{
    display: flex;
    max-width: 310px;
    min-width: 310px;
    min-height: 305px;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: #424242;
    position: absolute;
    border-radius: 5px;
    z-index: 5000;
}

.calendar>*{
    font-family: inherit;
}

.calendar svg{
    height: 1.5rem;
    width:1.5rem;
    fill: #558DFF;
    cursor: pointer;
}


.calendar__header{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    justify-content: space-between;
    color: #90caf9;
}

.calendar__weekDays{
    display: flex;
    max-height: 16px;
    align-items: center;
    justify-content: center;
}

.weekDay{
    color: rgba(255, 255, 255, 0.5);
    width: 36px;
    margin: 0 2px;
    text-align: center;
    font-size: 13px;
}

.calendar__daysContainer{
    margin-top: 12px;
    min-height: 216px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 14px;
}

.calendar__daysContainer div{
    color: #fff;
    width: 36px;
    height: 36px;
    margin: 0 2px;
    padding: 0;
    font-size: 0.75rem;
    font-weight: 500;
    display: grid;
    border-radius: 50%;
    place-items:center;
}

.calendar__daysContainer div .day{
    transition:background-color 0.25s;
}

.calendar__daysContainer .day:hover{
    background-color: rgba(255,255,255,0.3);
    cursor: pointer;
}


.calendar__daysContainer .today{
    color: #90caf9;
}

.selected{
    background-color: #90caf9;
}



.calendar__daysContainer .invisible{
    cursor: default;
}

.calendar__status{
    display: flex;
    align-items: center;
    padding: 5px 7px;
    cursor: pointer;
    width: 110px;
    border-radius: 20px;
    justify-content: center;
}

.calendar__status:hover{
    background: rgba(50 113 243,0.3);
}

.calendar__icon{
    margin-right: 10px;
}

.calendar__pickedDate{
    color: #fff;
    text-align: center;
    color: #333;
}